.syllabus h2 {
    font-size: 1em;
    padding-top: 10px;
}

.defaultBtn {
    background-image: linear-gradient(to right, #803e9f, #33ba41);
    color: white;
    padding: 7px;
    border: white;
    width: 150px;
    border-radius: 4px;
    margin: 2px;
}


.searchButton {
    background-image: linear-gradient(to right, #803e9f, #33ba41);
    color: white;
    padding: 8px;
    border: white;
    width: 100%;
    border-radius: 4px;
}




