
.expenseListSection {
    overflow: hidden;
    display: block;
    margin-bottom: 80px;
}

.expenseRightSide {
    overflow: hidden;
    display: block;
}

.activeLink a {
    background-image: linear-gradient(to right, #803e9f, #33ba41);
    color: white;
    display: block;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    padding: 8px;
    margin-bottom: 10px;
    border-left-color: #803e9f;
    border-right-color: #33ba41;
}

.inActiveLink a {
    color: black;
    display: block;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    padding: 8px;
    margin-bottom: 10px;
}

.inActiveLink a:hover {
    background-image: linear-gradient(to right, #803e9f, #33ba41);
    color: #ffffff;
    display: block;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    padding: 8px;
    margin-bottom: 10px;
    border-left-color: #803e9f;
    border-right-color: #33ba41;
}

.defaultBtn {
    background-image: linear-gradient(to right, #803e9f, #33ba41);
    color: white;
    padding: 7px;
    border: white;
    width: 150px;
    border-radius: 4px;
    margin: 2px
}

.instituteName {
    border: 3px solid darkgray;
    padding: 30px;

}

.instituteAddress {
    text-align: center;
}

.instituteSign {
    text-align: right;
}

.approved {
    margin-top: 200px;
}

.getSummary {
    overflow: hidden;
}

.instituteNameAndForm {
    border: 3px solid darkgray;
    padding: 50px;
}