
.darulEkamSection {
    overflow: hidden;
    display: block;
    margin-bottom: 80px;
}

.darulEkamRightSide {
    overflow: hidden;
    display: block;
}

.customCard {
    color: white;
}

.customCardHeader {
    text-align: center;
}

.customNavLink {
    border-bottom: 1px solid #C8C9CA;
    text-align: center;
    color: #111111;
    padding: 10px;
}

.customNavLink:hover {
    border-top: 1px solid red;
    background-image: linear-gradient(to right, #803e9f, #33ba41);
    color: white;
}

.activeLink a {
    background-image: linear-gradient(to right, #803e9f, #33ba41);
    color: white;
    display: block;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    padding: 8px;
    margin-bottom: 10px;
    border-left-color: #803e9f;
    border-right-color: #33ba41;

}

.inActiveLink a {
    color: black;
    display: block;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    padding: 8px;
    margin-bottom: 10px;
}

.inActiveLink a:hover {
    background-image: linear-gradient(to right, #803e9f, #33ba41);
    color: #ffffff;
    display: block;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    padding: 8px;
    margin-bottom: 10px;
    border-left-color: #803e9f;
    border-right-color: #33ba41;
}

.search {
    background-image: linear-gradient(to right, #803e9f, #33ba41);
    color: white;
    padding: 7px;
    border: white;
    width: 140px;
    height: 90px;
    border-radius: 4px;
    margin: 2px
}

.pdfButton {
    background-image: linear-gradient(to right, #803e9f, #33ba41);
    color: white;
    padding: 7px;
    border: white;
    width: 150px;
    border-radius: 4px;
    margin: 2px
}

.defaultBtn {
    background-image: linear-gradient(to right, #803e9f, #33ba41);
    color: white;
    padding: 7px;
    border: white;
    width: 129px;
    border-radius: 4px;
    margin: 2px;
    float: right;
}

.seatBookingBox {
    padding: 5px;
    border: 1px solid #ACACAC;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
    background-color: #ACACAC;
}

.seatBookingBoxSuccess {
    padding: 5px;
    /* border: 1px solid #ACACAC; */
    text-align: center;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
    pointer-events: none;
    /* background-color: #ACACAC; */
}