
.studentSection {
    overflow: hidden;
    display: block;
    margin-bottom: 80px;
}

.studentList{
    overflow: hidden;
    display: block;
}

.studentTitle {
    text-align: center;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.studentListTitle {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.student {
    background-image: linear-gradient(to right, #803e9f, #33ba41);
    color: white;
    display: block;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    padding: 6px;
    margin-bottom: 10px;
    border-left-color: #803e9f;
    border-right-color: #33ba41;
}

.student:hover {
    background-image: linear-gradient(to right, #803e9f, #33ba41);
    color: white;
    display: block;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    padding: 6px;
    margin-bottom: 10px;
    border-left-color: #803e9f;
    border-right-color: #33ba41;
}

.promotedStudent {
    color: black;
    display: block;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    padding: 8px;
    margin-bottom: 10px;
}


.promotedStudent:hover {
    background-image: linear-gradient(to right, #803e9f, #33ba41);
    color: white;
    display: block;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    padding: 6px;
    margin-bottom: 10px;
    border-left-color: #803e9f;
    border-right-color: #33ba41;
}

.searchButton {
    background-image: linear-gradient(to right, #803e9f, #33ba41);
    color: white;
    padding: 8px;
    border: white;
    width: 100%;
    border-radius: 4px;
}

